//- Секция преимуществ
section.advantages
  .container
      ul.advantages__list.advantages__list--suppliers
        li.advantages__item.advantages__item--title
          h2.advantages__title Работа у нас
        
        li.advantages__item.advantages__item--text
          p
            | Это не просто выполнение обязанностей, 
            | а возможность найти любимое дело и расти 
            | вместе с компанией, которая 25 лет остаётся 
            | лидером дистрибуции на Юге и в центральной России. 
            | Вот что ценим и что предлагаем нашим сотрудникам:
        li.advantages__item
          p.advantages__description
            | Готовые каналы сбыта — доступ 
            | к 13000+ клиентам.
          span.advantages__number 1
        li.advantages__item
          p.advantages__description
            | Прозрачная аналитика — отчёты 
            | по продажам и остаткам.
          span.advantages__number 2
        li.advantages__item
          p.advantages__description
            | Финансовая стабильность — своевременные платежи.
          span.advantages__number 3
        li.advantages__item.span-3-item
          p.advantages__description
            | Собственная логистика — 120 автомобилей, доставка до 6 раз в неделю.
          span.advantages__number 4
        li.advantages__item.span-3-item
          p.advantages__description
            | Собственная логистика — 120 автомобилей, доставка до 6 раз в неделю.
          span.advantages__number 5