.input {
    padding: 20px 24px;
    border-radius: 8px;
    font-family: PT Sans, sans-serif;
    font-size: 16px;
    line-height: 1.2;
  
    &__transparent {
      color: var(--color-primary-dark);
      background: transparent;
      border: 1px solid rgba(42, 111, 43, 0.40);

      &::placeholder {
        color: rgba(4, 63, 46, 0.50);
      }
    }
}