.input {
    padding: 20px 24px;
    border-radius: 8px;
    font-family: PT Sans, sans-serif;
    font-size: 16px;
  
    &__transparent {
      color: var(--color-primary-dark);
      background: transparent;
      border: 1px solid var(--color-border-transparent);

      &::placeholder {
        color: var(--color-text-primary-muted);
      }
    }
}