.tabs {
  display: flex;
  flex-direction: column;
  gap: 24px;

  &__list {
    display: flex;
    flex-wrap: nowrap; // Не переносим табы на новую строку
  }

  &__tab {
    padding: 16px 24px;
    border-radius: 0;
    background: var(--color-bg-primary);
    border: 1px solid var(--color-border);
    color: var(--color-primary-dark);
    font-family: var(--font-family-primary);
    font-size: 16px;
    cursor: pointer;
    transition: background-color .2s ease, color .2s ease, border-color .2s ease, opacity .2s ease;
    flex-shrink: 0; // На десктопе ширина по контенту

    @media (max-width: 768px) {
      padding: 8px 16px;
      font-size: 14px;
      flex: 1; // На мобилке все табы одинаковой ширины
      text-align: center;
    }

    &:not(.is-active):hover {
      background: var(--color-primary-hover-subtle);
      border-color: var(--color-border);
      color: var(--color-primary-dark);
    }

    &.is-active {
      position: relative;
      z-index: 1;
      background: var(--color-primary);
      color: var(--color-text-inverse);
      border-color: var(--color-primary);
    }

    // Внешние углы у всего массива табов
    &:first-child {
      border-top-left-radius: 4px;
      border-bottom-left-radius: 4px;
    }

    &:last-child {
      border-top-right-radius: 4px;
      border-bottom-right-radius: 4px;
    }
  }

  // Убираем двойные боковые границы между соседними табами
  &__tab + &__tab {
    margin-left: -1px; // перекрытие границ
  }

  &__panels {
    width: 100%;
  }

  &__panel {
    display: none;

    &.is-active {
      display: block;
    }
  }
}

