/* Секция личного кабинета */
.account {

  &__wrapper {
    display: flex;
    justify-content: space-between;
    gap: 24px;
    align-items: space-between;

    @media (max-width: 1024px) {
      flex-direction: column;
      align-items: flex-start;
    }

    @media (max-width: 768px) {
      gap: 24px;
      align-items: stretch;
    }
  }

  &__left {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 24px;

    button {
      @media (max-width: 1024px) {
        display: none;
      }
    }
  }

  &__title {
    color: var(--color-primary-dark);
    margin: 0;
    max-width: 314px;

    @media (max-width: 1024px) {
      max-width: 100%;
    }
  }

  &__button {
    align-self: flex-start;
    
    &-mobile {
      display: none;

      @media (max-width: 1024px) {
        display: flex;
      }
    }
  }

  &__right {
    flex: 1;
  }

  &__text-block {
    display: flex;
    flex-direction: column;
    gap: 32px;
    padding: 24px 16px;
    color: var(--color-primary-dark);
    background: var(--color-primary-light-transparent);
    border-radius: 8px;
    font-family: PT Sans, sans-serif;

    p:last-child {
      font-size: 20px;
    }

    @media (max-width: 768px) {
      padding: 12px 10px;
    }
  }
}

