/* Секция страницы 404 */
.error-404 {
  padding: 20px 0 64px;
  background: var(--color-bg-primary);

  @media (max-width: 768px) {
    padding: 48px 0;
  }

  @media (max-width: 576px) {
    padding: 32px 0;
  }

  &__inner {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: space-between;
    gap: 88px;
    align-items: center;

    @media (max-width: 1024px) {
      gap: 60px;
    }

    @media (max-width: 768px) {
      grid-template-columns: 1fr;
      gap: 32px;
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 32px;

    @media (max-width: 1024px) {
      gap: 24px;
    }

    @media (max-width: 768px) {
      padding: 0 16px;
      text-align: center;
      align-items: center;
    }
  }

  &__image-wrapper {
    width: 100%;
    max-width: 100%;

    @media (max-width: 768px) {
      max-width: 80%;
    }

    @media (max-width: 576px) {
      max-width: 100%;
    }

    img {
      width: 100%;
      height: auto;
      display: block;
    }
  }

  &__title {
    margin-bottom: 0;
    color: var(--color-primary-dark);
    font-size: 32px;
    font-weight: 500;
    letter-spacing: -0.64px;

    @media (max-width: 1024px) {
      font-size: 24px;
    }

    @media (max-width: 576px) {
      font-size: 24px;
    }
  }

  &__button {

    @media (max-width: 768px) {
      width: 100%;
      max-width: 320px;
    }
  }

  &__illustration {
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;

    @media (max-width: 768px) {
      display: none;
    }
  }

  &__image {
    width: 100%;
    height: auto;
    object-fit: contain;
    display: block;
  }
}


