/* Пустая секция-заглушка */
.for-clients {
  position: relative;
  padding: 80px 0;

  @media (max-width: 768px) {
    padding: 48px 0;
  }

  &__decoration {
    position: absolute;
    top: 0;
    right: 0;
    z-index: -1;

    @media (max-width: 1024px) {
      display: none;
    }
  }

  &__inner {
    display: flex;
    gap: 8px;
  }
}

.inner-blocks {
  position: relative;
  display: flex;
  gap: 8px;
  z-index: 3;

  @media (max-width: 768px) {
    flex-direction: column;
    gap: 20px;
  }
}

.inner-block {
  position: relative;
  flex: 50%;
  display: flex;
  flex-direction: column;
  padding: 24px 32px;
  border-radius: 8px;
  background-color: var(--color-primary-light-transparent);

  &__icon {
    position: absolute;
    top: 0;
    right: 0;
    border-radius: 0 0 0 8px;
    border-left: 4px solid var(--color-bg-primary);
    border-bottom: 4px solid var(--color-bg-primary);

    &-inner {
      display: flex;
      align-items: center;
      justify-content: center;  
      width: 60px;
      height: 60px;
      background-color: var(--color-primary-light-transparent);
      border-radius: 8px;
      overflow: hidden;

      @media (max-width: 768px) {
        // padding: 14px;
        width: 44px;
        height: 44px;

        svg {
          width: 24px;
        }
      }
    }
  }

  &__top {
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin-bottom: 24px;
  }

  &__description {
    color: var(--color-primary-dark);
  }

  &__center {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin-bottom: 32px;
  }

  &__list {
    padding-left: 20px;
    color: var(--color-primary-dark);
    list-style-type: disc;
  }

  &__bottom {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
  }
}
