.history {

  .history-content {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    gap: 16px;

    @media (max-width: 768px) {
      flex-direction: column;
    }


    &--reverse {
      flex-direction: row-reverse;

      @media (max-width: 768px) {
        flex-direction: column;
      }
    }

    &:not(:last-child) {
      margin-bottom: 126px;

      @media (max-width: 768px) {
        margin-bottom: 48px;
      }
    }

    &__left {
      flex: calc(67% - 8px);
    }

    &__right {
      flex: calc(33% - 8px);
    }

    &__image {
      height: 100%;
      display: flex;
      align-items: stretch;
    }

    &__image-picture {
      width: 100%;
      height: 100%;
      display: block;
      border-radius: 8px;
      overflow: hidden;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
      }
    }

    &__title {
      margin-bottom: 24px;
    }

    &__description {
      margin-bottom: 16px;
      font-size: 20px;
      color: var(--color-primary-dark);

      @media (max-width: 768px) {
        font-size: 16px;
      }
    }

    &__quote {
      margin-bottom: 44px;

      @media (max-width: 768px) {
        margin-bottom: 20px;
      }
    }
  }


}

.quote {
  display: flex;
  align-items: stretch;
  gap: 24px;

  @media (max-width: 768px) {
    align-items: center;
    gap: 8px;
  }

  &--reverse {
    flex-direction: row-reverse;
    justify-content: space-between;
  }

  &__icon {
    width: 96px;
    flex-shrink: 0;
  }

  &__text {
    max-width: 610px;
    font-family: PT Sans, sans-serif;
    font-size: 20px;
    color: var(--color-primary-dark);

    @media (max-width: 768px) {
      font-size: 16px;
    }
  }
}

.timeline {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;

  &__item {
    flex: 1 1 calc(50% - 8px);
    min-height: 145px;
    position: relative;
    background: var(--color-primary-light-transparent);
    padding: 16px 12px 52px 12px;
    border-radius: 8px;
    color: var(--color-primary-dark);
    font-family: PT Sans, sans-serif;

    @media (max-width: 576px) {
      flex: 1 1 100%;
      min-height: auto;
    }

    &--wide {
      flex: 1 1 100%;
    }
  }

  &__item-year {
    position: absolute;
    bottom: 0;
    right: 0;
    padding: 4px 8px;
    border-radius: 8px 0 0 0;
    font-size: 28px;
    font-weight: 500;
    color: var(--color-primary-dark);
    background: var(--color-bg-primary);

    @media (max-width: 576px) {
      font-size: 24px;
      padding: 4px 8px;
    }
  }
}