// Секция "Цифры компании"
.numbers {
  // color: var(--color-text-inverse);
  // padding: 80px 0;
  position: relative;
  overflow: hidden;

}

.numbers__decoration {
  position: absolute;
  bottom: 120px;
  right: 0;
  
  .decor-wave {
    color: var(--color-decor-stroke);
    opacity: 0.6;
    transition: opacity 0.3s ease;
    
    &:hover {
      opacity: 1;
    }
  }
}

.numbers__content {
  display: flex;
  justify-content: space-between;
  gap: 40px;

  @media (max-width: 960px) {
    flex-direction: column;
  }

  @media (max-width: 768px) {
    flex-direction: column;
    gap: 24px;
  }
  @media (max-width: 576px) {
    gap: 20px;
  }
}

  .numbers__text {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    gap: 16px;
    .numbers__title {
      color: var(--color-primary-dark);
    }

  .numbers__subtitle {
    font-size: 1.2rem;
    color: var(--color-primary-hover-darkest);
    margin-bottom: 32px;
    line-height: 1.4;
  }

  .numbers__button {
    // Стили наследуются от .btn
  }
}

.numbers__stats {
  display: grid;
  grid-template-columns: 40% 57%; // Правая колонка в 2 раза шире
  grid-template-rows: 150px 234px;
  justify-content: flex-end;
  gap: 16px;
  width: 596px;
  
  @media (max-width: 1024px) {
    gap: 10px;
  }

  @media (max-width: 960px) {
    grid-template-columns: calc(42% - 5px) calc(58% - 5px);
    width: 100%;
  }

  @media (max-width: 576px) {
    grid-template-columns: calc(37% - 5px) calc(63% - 5px);
    grid-template-rows: 150px 238px;
  }
}

.numbers__stat {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  padding: 16px 12px;
  color: var(--color-text-tertiary);
  background: var(--color-primary-light);
  border-radius: 12px;
  @media (max-width: 1024px) {
    border-radius: 8px;
  }
  @media (max-width: 768px) {
    border-radius: 4px;
  }
  // transition: transform 0.3s ease;
  z-index: 1;

  &-number {
    font-size: 42px;
    font-weight: 500;
    letter-spacing: -1.38px;
    z-index: 2;
    @media (max-width: 1024px) {
      // font-size: 32px;
      // letter-spacing: -1.04px;
    }
    @media (max-width: 768px) {
      font-size: 28px;
      letter-spacing: -0.72px;
    }
  }

  &-label {
    font-size: 20px;
    z-index: 2;
    @media (max-width: 1024px) {
      font-size: 16px;
    }
  }

  // &-wrapper {
  //   position: absolute;
  //   top: 0;
  //   left: 0;
  //   width: 100%;
  //   height: 100%;
  //   border-radius: 8px;
  //   background: var(--color-primary);
  //   z-index: 1;
  //   transform: scale(1.3, 1.9);
  //   transform-origin: top right;

  //   &::before {
  //     content: '';
  //     position: absolute;
  //     top: -16px;
  //     left: -16px;
  //     width: calc(100% + 32px);
  //     height: calc(100% + 32px);
  //     background: transparent;
  //     border: 16px solid var(--color-bg-primary);
  //     border-radius: 8px;
  //     z-index: 2;
  //   }
  // }

  &--big {
    position: relative;
    background: var(--color-primary);
  }

  &--small {
      height: 133px;
      align-self: end;
  }

  &--special {
    position: relative;
    overflow-x: visible;

    span {
      white-space: pre;
    }

    &::after {
      content: '';
      position: absolute;
      bottom: 0;
      right: calc(-31% + 8px);
      width: 33%;
      height: 133px;
      background: var(--color-primary-light);
      border-radius: 0 12px 12px 0;
      @media (max-width: 1024px) {
        right: calc(-31% + 8px);
        border-radius: 0 8px 8px 0;
      }
      @media (max-width: 960px) {
        right: calc(-16vw + 26px);
        width: calc(16vw - 10px - 12px);
      }
      @media (max-width: 768px) {
        right: calc(-16vw + 18px);
        width: calc(16vw - 10px - 6px);
        border-radius: 0 4px 4px 0;
      }

      @media (max-width: 576px) {
        right: calc(-15vw + 18px);
        width: calc(15vw - 10px - 6px);
        border-radius: 0 4px 4px 0;
      }
    }
  }

  &:nth-child(1) {
    // width: 240px;
    @media (max-width: 1024px) {
      // width: 200px;
    }
  }

  &:nth-child(2) {
    // width: 340px;
    height: 251px;
    @media (max-width: 576px) {
      height: 255px;
    }
  }

  &:nth-child(3) {
    flex-direction: column-reverse;
  }

  &:nth-child(4) {
    width: 274px;
    justify-self: end;

    @media (max-width: 960px) {
      width: 42vw;
    }

    @media (max-width: 576px) {
      width: 48vw;
    }
  }

  &:nth-child(even) {
    align-items: flex-end;
    text-align: right;
  }

}

