.team {

  &__title {
    max-width: 625px;
    margin-bottom: 32px;

    @media (max-width: 768px) {
      max-width: 100%;
      margin-bottom: 24px;
    }
  }

  &__grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 24px 8px;

    @media (max-width: 1024px) {
      grid-template-columns: repeat(2, 1fr);
    }
  }
}

.team-card {
  border-radius: 8px;
  display: flex;
  flex-direction: column;

  &__image {
    width: 100%;
    aspect-ratio: 1/1;
    margin-bottom: 16px;
    border-radius: 8px;
    overflow: hidden;

    img {
      width: 100%;
      height: auto;
      display: block;
      object-fit: cover;
    }
  }

  &__position {
    color: #000;
    font-size: 14px;
    margin-bottom: 8px;
  }

  &__name {
    color: #000;
  }
}