svg(xmlns="http://www.w3.org/2000/svg" width="6" height="12" viewBox="0 0 6 12" fill="none")
  path(fill-rule="evenodd" clip-rule="evenodd" d="M0.282868 11.5373C-0.0295334 11.3225 -0.0928462 10.9163 0.141455 10.6299L4.06567 5.83366L0.141455 1.0374C-0.0928461 0.751027 -0.0295332 0.344769 0.282868 0.129994C0.595269 -0.0847816 1.03846 -0.0267458 1.27276 0.259623L5.83333 5.83366L1.27276 11.4077C1.03846 11.6941 0.595269 11.7521 0.282868 11.5373Z" fill="currentColor" fill-opacity="0.5")

