//- Плюс (40x40), при повороте на 45deg становится крестом
svg(width="40" height="40" viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg")
  path(d="M21 18C21 18.5523 21.4477 19 22 19H35C35.5523 19 36 19.4477 36 20C36 20.5523 35.5523 21 35 21H22C21.4477 21 21 21.4477 21 22V35C21 35.5523 20.5523 36 20 36C19.4477 36 19 35.5523 19 35V22C19 21.4477 18.5523 21 18 21H5C4.44772 21 4 20.5523 4 20C4 19.4477 4.44772 19 5 19H18C18.5523 19 19 18.5523 19 18V5C19 4.44772 19.4477 4 20 4C20.5523 4 21 4.44772 21 5V18Z" fill="#418F55")

