//- Секция Клиентам — hero
section.page-clients
  .container
    .page-clients__hero-content
      h1.page-clients__hero-title Клиентам
      picture.page-clients__hero-image
        source(media="(max-width: 576px)" srcset="images/clients/hero-mob.png")
        img(src="images/clients/hero.png" alt="Клиентам" loading="lazy")
      h2.page-clients__hero-subtitle
        | «Органика» — ваш надёжный поставщик медицинских товаров,
        | медицинской техники и товаров для детства и материнства
      p.page-clients__hero-description       
        | Тогда мы работали с&nbsp;локальными клиентами,
        | при этом ставили амбициозную цель – стать 
        | главным дистрибьютором Юга России.