//- Секция "О нас"
section.about
  .about__decoration
    include ../icons/decor-wave5
  .container
    .about__content
      h2.about__title О компании
      p.about__description
        | Мы обеспечиваем аптеки, клиники и магазины качественной <br>
        | фармацевтикой, медтехникой и товарами для семьи
      
      .about__features
        ul.about__features-list
          li.about__features-item.item-feature
            .item-feature__icon
              .item-feature__icon-inner
                include ../icons/icon-specialists
            p.item-feature__text
              | Это высококвалифицированные специалисты, 
              | которые всегда готовы предоставить консультативную 
              | поддержку и помочь в решении 
              | возникающих вопросов
          li.about__features-item.item-feature
            .item-feature__icon
              .item-feature__icon-inner
                include ../icons/icon-certificates
            p.item-feature__text
              | Гарантируем поставку только сертифицированных лекарственных 
              | средств, БАДов и медицинских изделий, соответствующих 
              | строгим стандартам качества
          li.about__features-item.item-feature
            .item-feature__icon
              .item-feature__icon-inner
                include ../icons/icon-relationships
            p.item-feature__text
              | Выстраивает долгосрочные отношения с клиентами 
              | и поставщиками на основе прозрачности, взаимного 
              | уважения и выполнения обязательств
          li.about__features-item.item-feature
            .item-feature__icon
              .item-feature__icon-inner
                include ../icons/icon-edo
            p.item-feature__text
              | Обеспечивает высокую скорость документооборота, 
              | работая с операторами ЭДО «Тензор» и «СКБ Контур»