//- Секция личного кабинета
section.account
  .container
    .account__wrapper
      .account__left
        h2.account__title Личный кабинет для клиентов
        button.btn.account__button(type="button") Вход в личный кабинет
      .account__right
        .account__text-block
          p Личный кабинет — это удобный онлайн-сервис для аптек, клиник и магазинов, где можно оформлять и отслеживать заказы, просматривать историю покупок и быстро повторять их, получать актуальные прайс-листы и специальные предложения, работать с реквизитами и документами, напрямую связываться с персональным менеджером, а также анализировать статистику и динамику поставок для более эффективного управления закупками.
          p Простой и безопасный доступ экономит время и помогает сосредоточиться на главном — заботе о клиентах.
      button.btn.account__button-mobile(type="button") Вход в личный кабинет

