//- Секция преимуществ
section.advantages
  .container
      ul.advantages__list
        li.advantages__item.advantages__item--title
          h2.advantages__title Почему клиенты выбирают нас?
        li.advantages__item
          p.advantages__description
            | Гибкие условия — индивидуальные цены, отсрочка платежа, программы лояльности.
          span.advantages__number 1
        li.advantages__item
          p.advantages__description
            | Мы работаем с аптеками, мед.учреждениями 
            | и магазинами из 23 регионов России уже 25 лет. 
          span.advantages__number 2
        li.advantages__item
          p.advantages__description
            | Профессиональная поддержка — персональный менеджер, консультации 
            | по ассортименту, маркетинговая помощь.
          span.advantages__number 3
        li.advantages__item
          p.advantages__description
            | Гибкие условия — индивидуальные цены, отсрочка платежа, программы лояльности.
          span.advantages__number 4
        li.advantages__item
          p.advantages__description
            | Быстрая доставка — 2 раза в день 
            | в г. Ростов-на-Дону, до 6 раз в неделю 
            | в другие регионы.
          span.advantages__number 5
        li.advantages__item
          p.advantages__description
            | Высокая скорость документооборота – работаем с операторами ЭДО ООО «Компания «Тензор» и АО «ПФ «СКБ Контур».
          span.advantages__number 6
        li.advantages__item
          p.advantages__description
            | Весь наш автопарк оснащен холодильным оборудованием, позволяющим обеспечить спец. условия для перевозки медикаментов.
          span.advantages__number 7
        li.advantages__item
          p.advantages__description
            | Широкий ассортимент — 12000 номенклатур фармацевтики, медтехники и товаров для семьи.
          span.advantages__number 8
        li.advantages__item
          p.advantages__description
            | Гарантированное качество — работаем только с проверенными производителями, вся продукция сертифицирована.
          span.advantages__number 9
        li.advantages__item
          p.advantages__description
            | Быстрый доступ к документам качества – собственный сервис по получению сертификатов в электронном виде.
          span.advantages__number 10