//- Секция страницы 404
section.error-404
  .container
    .error-404__inner
      // Левая часть - текст и кнопка
      .error-404__content
        .error-404__image-wrapper
          img.error-404__number-image(src="images/404/404.png" alt="404")
        h1.error-404__title Страница не найдена
        a.btn.error-404__button(href="/") Перейти на главную страницу
      
      // Правая часть - иллюстрация
      .error-404__illustration
        img.error-404__image(src="images/404/image.png" alt="Страница не найдена")

