//- Общий компонент FAQ (аккордеон)
section.faq
  .container
    h2.faq__title Частые вопросы клиентов
    ul.faq__list
      li.faq__item
        details(open)
          summary.faq__question
            span.faq__question-text Как быстро вы доставляете заказы в отдалённые районы?
            span.faq__toggle
              include ../icons/icon-faq-toggle
          .faq__answer
            .faq__answer-content
              p lore ipsum dolor sit amet consectetur adipisicing elit. Quisquam, quos.

      li.faq__item
        details
          summary.faq__question
            span.faq__question-text Есть ли у вас минимальная сумма заказа?
            span.faq__toggle
              include ../icons/icon-faq-toggle
          .faq__answer
            .faq__answer-content
              p Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, quos.

      li.faq__item
        details
          summary.faq__question
            span.faq__question-text С какими системами заказов вы работаете?
            span.faq__toggle
              include ../icons/icon-faq-toggle
          .faq__answer
            .faq__answer-content
              p Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, quos.

      li.faq__item
        details
          summary.faq__question
            span.faq__question-text Какой перечень документов требуется для заключения договора?
            span.faq__toggle
              include ../icons/icon-faq-toggle
          .faq__answer
            .faq__answer-content
              p Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, quos.

      li.faq__item
        details
          summary.faq__question
            span.faq__question-text Делаете ли вы скидки и предоставляете ли отсрочки для постоянных клиентов?
            span.faq__toggle
              include ../icons/icon-faq-toggle
          .faq__answer
            .faq__answer-content
              p Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, quos. Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, quos. 
              p Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, quos. Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, quos.
              p Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, quos. Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, quos. 
              p Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, quos. Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, quos.
              p Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, quos. Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, quos. 
              p Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, quos. Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, quos.
