//- Секция подвал
footer.footer
  .container
    .footer__content
      .footer__grid
        //- 1) Политики
        .footer__col.footer__col--policies
          ul.footer__list
            li: a.footer__link(href="#") Политика обработки данных
            li: a.footer__link(href="#") Политика конфиденциальности
            li: a.footer__link(href="#") Сайт разработан AFFETTA

        //- 2) Адрес
        .footer__col
          .footer__title Адрес
          address.footer__text Ростов-на-Дону, ул. Вавилова, д. 59

        //- 3) Телефон
        .footer__col
          .footer__title Телефон
          a.footer__text.footer__tel(href="tel:+79287628531") +7 928 762-85-31

        //- 4) Общие
        .footer__col
          .footer__title Общие
          a.footer__text.footer__mail(href="mailto:sales@organica.ru") sales@organica.ru

        //- 5) Коммерческие предложения
        .footer__col
          .footer__title Коммерческие предложения
          a.footer__text.footer__mail(href="mailto:organica@aaanet.ru") organica@aaanet.ru
          a.footer__cta(href="#" data-modal-open="request") Оставить заявку →