section.for-clients
  .for-clients__decoration
      include ../icons/decor-wave3
  .container
    .for-clients__inner.inner-blocks 
      .inner-blocks__item.inner-block
        .inner-block__icon
          .inner-block__icon-inner
            include ../icons/icon-people
        .inner-block__top
          h3.inner-block__title Клиентам
          p.inner-block__description 
            | Мы не просто поставщики, а партнёры, которые помогают вашему 
            | бизнесу расти и развиваться.
        .inner-block__center 
          h4.inner-block__subtitle Мы предлагаем
          ul.inner-block__list
            li.inner-block__list-item Быстрая доставка всегда в срок
            li.inner-block__list-item Гибкие условия сотрудничества 
            li.inner-block__list-item Персональный менеджер
            li.inner-block__list-item Маркетинговая поддержка
            li.inner-block__list-item Высокая скорость документооборота
        .inner-block__bottom
          button.btn.btn--outline.inner-block__btn(data-modal-open="request") Оставить заявку
          a.btn.inner-block__btn(href="#") Подробнее 

      .inner-blocks__item.inner-block
        .inner-block__icon
          .inner-block__icon-inner
            include ../icons/icon-transport
        .inner-block__top
          h3.inner-block__title Поставщикам
          p.inner-block__description 
            | Мы заинтересованы в долгосрочном сотрудничестве 
            | с производителями и дистрибьюторами фармацевтики, 
            | медтехники и товаров для детства и материнства.
        .inner-block__center 
          h4.inner-block__subtitle Мы предлагаем
          ul.inner-block__list
            li.inner-block__list-item Готовые каналы сбыта
            li.inner-block__list-item Логистика «под ключ»
            li.inner-block__list-item Складские помещения
            li.inner-block__list-item Таможенное оформление
        .inner-block__bottom
          button.btn.btn--outline.inner-block__btn(data-modal-open="request") Оставить заявку
          a.btn.inner-block__btn(href="#") Подробнее 


