//- Десктопный header
header.header
  .container
    .header__content
      // Логотип
      .header__logo
        // Десктопный логотип
        .header__logo-desktop
          include ../icons/icon-logo
        // Мобильный логотип
        .header__logo-mobile
          include ../icons/icon-logo-mob
        span.header__logo-text Органика
      
      .header__content-right
        // Кнопка бургера (моб.)
        button.header__burger(type="button" aria-label="Открыть меню" aria-expanded="false" aria-controls="main-nav")
          span.header__burger-line
          span.header__burger-line
          span.header__burger-line
        // Навигация
        nav.header__nav#main-nav
          ul.header__nav-list
            li.header__nav-item
              a.header__nav-link(href="/") Главная
            li.header__nav-item
              a.header__nav-link(href="/about") О нас
            li.header__nav-item
              a.header__nav-link(href="/clients") Клиентам
            li.header__nav-item
              a.header__nav-link(href="/suppliers") Поставщикам
            li.header__nav-item
              a.header__nav-link(href="/career") Карьера
            li.header__nav-item
              a.header__nav-link(href="/news") Новости
            li.header__nav-item
              a.header__nav-link(href="/contacts") Контакты
        
        // Кнопки действий
        .header__actions
          button.header__action.header__action--phone(type="button" aria-label="Позвонить")
            include ../icons/icon-phone
            
          button.header__action.header__action--request(type="button", data-modal-open="request") Оставить заявку
          
          button.header__action.header__action--user(type="button" aria-label="Личный кабинет")
            include ../icons/icon-user