//- Секция контактов
section.history
  .container
    .history__content.history-content
      .history-content__left 
        h2.history-content__title Как начиналась «Органика»
        p.history-content__description
          | В&nbsp;2000 году небольшая команда энтузиастов основала компанию, 
          | которая занималась поставками лекарств в&nbsp;аптеки Ростова-на-Дону.
        .history-content__quote.quote
          .quote__icon
            include ../icons/icon-quote
          p.quote__text(style="max-width: 400px;")
            | Тогда мы работали с&nbsp;локальными клиентами,
            | при этом ставили амбициозную цель – стать 
            | главным дистрибьютором Юга России.

        .history-content__timeline.timeline
          .timeline__item
            .timeline__item-year 2001 г.
            .timeline__item-description
              | Основание компании с&nbsp;фокусом на&nbsp;поставки фармацевтики для&nbsp;аптек Ростова-на-Дону
          .timeline__item
            .timeline__item-year 2005 г.
            .timeline__item-description
              | Расширение рынка сбыта: выход на&nbsp;территории всего Южного федерального округа
          .timeline__item
            .timeline__item-year 2008 г.
            .timeline__item-description
              | Формирование собственного автопарка; Начало сотрудничества с&nbsp;производителями медтехники
          .timeline__item
            .timeline__item-year 2010 г.
            .timeline__item-description
              | Расширение матрицы Компании: появилось новое направление «Товары для&nbsp;детства и&nbsp;материнства». Увеличение штата до&nbsp;50сотрудников
      .history-content__right
        .history-content__image
          picture.history-content__image-picture
            source(media="(max-width: 768px)" srcset="images/history/item-1-mob.png")
            img(src="images/history/item-1.png" alt="История компании" loading="lazy")

    .history__content.history-content.history-content--reverse
      .history-content__left 
        h2.history-content__title От локального поставщика – к&nbsp;лидеру рынка
        .history-content__quote.quote.quote--reverse
          .quote__icon.desktop-only
            include ../icons/icon-quote
          p.quote__text
            | К&nbsp;2010 году «Органика» вышла на&nbsp;уровень федерального
            | дистрибьютора. Мы запустили собственные склады в&nbsp;2017 году 
            | в&nbsp;городе Краснодаре и&nbsp;в&nbsp;2023 в&nbsp;городе Воронеже, расширили
            | автопарк до&nbsp;120 машин и&nbsp;добавили новые категории товаров: 
            | детское питание, косметику, товары для&nbsp;материнства.

        .history-content__timeline.timeline
          .timeline__item
            .timeline__item-year 2015 г.
            .timeline__item-description
              | Официальная регистрация 
              | как ООО "Компания "Органика"
          .timeline__item
            .timeline__item-year 2017 г.
            .timeline__item-description
              | Полная автоматизация складских процессов 
              | (+40% к&nbsp;скорости обработки заказов); Открытие филиала в&nbsp;г. Краснодаре
          .timeline__item
            .timeline__item-year 2020 г.
            .timeline__item-description
              | Расширение автопарка до&nbsp;120 единиц техники; 
              | Начало поставок в&nbsp;труднодоступные районы Северного Кавказа
          .timeline__item
            .timeline__item-year 2023 г.
            .timeline__item-description
              | Открытие филиала в&nbsp;г. Воронеж
          .timeline__item.timeline__item--wide
            .timeline__item-year 2025 г.
            .timeline__item-description
              | В&nbsp;планах – выход в&nbsp;новые регионы России; 
              | Увеличение складских площадей на&nbsp;25%. Увеличение штата до&nbsp;350 сотрудников.
      .history-content__right.desktop-only
        .history-content__image
          picture.history-content__image-picture
            img(src="images/history/item-2.png" alt="История компании" loading="lazy")

