//- Секция заголовка страницы
section.page-header
  .container
    .page-header__content
      h1.page-header__title= pageTitle || 'Заголовок страницы'
      p.page-header__description= pageDescription || 'Описание страницы'

















