//- Секция Партнёры
section.partners
  .container
    h2.partners__title А так же наши партнёры

    .partners__row-wrapper
      //- Верхняя строка (движется вправо)
      .partners__row.partners__row--top
        .partners__track
          //- Повторяем логотипы дважды для бесшовного эффекта
          each i in [1,2]
            ul.partners__list
              li.partners__item
                a.partners__link(href="#", target="_blank", rel="noopener" aria-label="Dr.Theiss")
                  span.partners__logo
                    include ../../images/icons/logos/Dr.Theiss.svg
              li.partners__item
                a.partners__link(href="#", target="_blank", rel="noopener" aria-label="DR.Reddy's")
                  span.partners__logo
                    include ../../images/icons/logos/DR.Reddy's.svg
              li.partners__item
                a.partners__link(href="#", target="_blank", rel="noopener" aria-label="Bella")
                  span.partners__logo
                    include ../../images/icons/logos/Bella.svg
              li.partners__item
                a.partners__link(href="#", target="_blank", rel="noopener" aria-label="Bellact")
                  span.partners__logo
                    include ../../images/icons/logos/Bellact.svg
              li.partners__item
                a.partners__link(href="#", target="_blank", rel="noopener" aria-label="Berlin-hemi")
                  span.partners__logo
                    include ../../images/icons/logos/Berlin-hemi.svg
              li.partners__item
                a.partners__link(href="#", target="_blank", rel="noopener" aria-label="Budchen")
                  span.partners__logo
                    include ../../images/icons/logos/Budchen.svg
              li.partners__item
                a.partners__link(href="#", target="_blank", rel="noopener" aria-label="Canpol babies")
                  span.partners__logo
                    include ../../images/icons/logos/Canpol babies.svg
              li.partners__item
                a.partners__link(href="#", target="_blank", rel="noopener" aria-label="Diapharm")
                  span.partners__logo
                    include ../../images/icons/logos/Diapharm.svg
              li.partners__item
                a.partners__link(href="#", target="_blank", rel="noopener" aria-label="Hartmann")
                  span.partners__logo
                    include ../../images/icons/logos/Hartmann.svg
              li.partners__item
                a.partners__link(href="#", target="_blank", rel="noopener" aria-label="Hipp")
                  span.partners__logo
                    include ../../images/icons/logos/Hipp.svg
              li.partners__item
                a.partners__link(href="#", target="_blank", rel="noopener" aria-label="Joonies")
                  span.partners__logo
                    include ../../images/icons/logos/Joonies.svg
              li.partners__item
                a.partners__link(href="#", target="_blank", rel="noopener" aria-label="Nutricia")
                  span.partners__logo
                    include ../../images/icons/logos/Nutricia.svg
              li.partners__item
                a.partners__link(href="#", target="_blank", rel="noopener" aria-label="Pfizer")
                  span.partners__logo
                    include ../../images/icons/logos/Pfizer.svg
              li.partners__item
                a.partners__link(href="#", target="_blank", rel="noopener" aria-label="Servier")
                  span.partners__logo
                    include ../../images/icons/logos/Servier.svg

      //- Нижняя строка (движется влево)
      .partners__row.partners__row--bottom
        .partners__track
          each i in [1,2]
            ul.partners__list
              li.partners__item
                a.partners__link(href="#", target="_blank", rel="noopener" aria-label="Dr.Theiss")
                  span.partners__logo
                    include ../../images/icons/logos/Dr.Theiss.svg
              li.partners__item
                a.partners__link(href="#", target="_blank", rel="noopener" aria-label="DR.Reddy's")
                  span.partners__logo
                    include ../../images/icons/logos/DR.Reddy's.svg
              li.partners__item
                a.partners__link(href="#", target="_blank", rel="noopener" aria-label="Bella")
                  span.partners__logo
                    include ../../images/icons/logos/Bella.svg
              li.partners__item
                a.partners__link(href="#", target="_blank", rel="noopener" aria-label="Bellact")
                  span.partners__logo
                    include ../../images/icons/logos/Bellact.svg
              li.partners__item
                a.partners__link(href="#", target="_blank", rel="noopener" aria-label="Berlin-hemi")
                  span.partners__logo
                    include ../../images/icons/logos/Berlin-hemi.svg
              li.partners__item
                a.partners__link(href="#", target="_blank", rel="noopener" aria-label="Budchen")
                  span.partners__logo
                    include ../../images/icons/logos/Budchen.svg
              li.partners__item
                a.partners__link(href="#", target="_blank", rel="noopener" aria-label="Canpol babies")
                  span.partners__logo
                    include ../../images/icons/logos/Canpol babies.svg
              li.partners__item
                a.partners__link(href="#", target="_blank", rel="noopener" aria-label="Diapharm")
                  span.partners__logo
                    include ../../images/icons/logos/Diapharm.svg
              li.partners__item
                a.partners__link(href="#", target="_blank", rel="noopener" aria-label="Hartmann")
                  span.partners__logo
                    include ../../images/icons/logos/Hartmann.svg
              li.partners__item
                a.partners__link(href="#", target="_blank", rel="noopener" aria-label="Hipp")
                  span.partners__logo
                    include ../../images/icons/logos/Hipp.svg
              li.partners__item
                a.partners__link(href="#", target="_blank", rel="noopener" aria-label="Joonies")
                  span.partners__logo
                    include ../../images/icons/logos/Joonies.svg
              li.partners__item
                a.partners__link(href="#", target="_blank", rel="noopener" aria-label="Nutricia")
                  span.partners__logo
                    include ../../images/icons/logos/Nutricia.svg
              li.partners__item
                a.partners__link(href="#", target="_blank", rel="noopener" aria-label="Pfizer")
                  span.partners__logo
                    include ../../images/icons/logos/Pfizer.svg
              li.partners__item
                a.partners__link(href="#", target="_blank", rel="noopener" aria-label="Servier")
                  span.partners__logo
                    include ../../images/icons/logos/Servier.svg
