//- Секция услуг
section.services
  .container
    h2.services__title Наши услуги
    
    .services__grid
      .service-card
        .service-card__icon
          img(src="images/icons/development.svg" alt="Разработка" width="48" height="48")
        h3.service-card__title Разработка сайтов
        p.service-card__description Создание современных сайтов на Битрикс
      
      .service-card
        .service-card__icon
          img(src="images/icons/design.svg" alt="Дизайн" width="48" height="48")
        h3.service-card__title UI/UX дизайн
        p.service-card__description Создание удобных и красивых интерфейсов
      
      .service-card
        .service-card__icon
          img(src="images/icons/optimization.svg" alt="Оптимизация" width="48" height="48")
        h3.service-card__title Оптимизация
        p.service-card__description Ускорение и улучшение производительности сайтов

