section.team
  .container
    h2.team__title Наша команда – профессионалы, которые знают ваш бизнес
    
    //- Блок с людьми
    .team__grid
      .team-card
        .team-card__image
          img(src="images/team/item-1.png" alt="Сотрудник команды" loading="lazy")
        .team-card__position Должность
        .team-card__name Фамилия Имя Отчество
      
      .team-card
        .team-card__image
          img(src="images/team/item-2.png" alt="Сотрудник команды" loading="lazy")
        .team-card__position Должность
        .team-card__name Фамилия Имя Отчество
      
      .team-card
        .team-card__image
          img(src="images/team/item-3.png" alt="Сотрудник команды" loading="lazy")
        .team-card__position Должность
        .team-card__name Фамилия Имя Отчество
      
      .team-card
        .team-card__image
          img(src="images/team/item-4.png" alt="Сотрудник команды" loading="lazy")
        .team-card__position Должность
        .team-card__name Фамилия Имя Отчество
