//- Общая секция вакансий
section.vacancies
  .container
    h2.vacancies__title Активные вакансии
    ul.vacancies__list
      li
        a.vacancies__item(href="#" target="_blank" rel="noopener")
          span.vacancies__name Менеджер по работе с клиентами (фармацевтика)
          span.vacancies__link
            span.vacancies__link-text Посмотреть вакансию на hh
            include ../icons/icon-arrow-link
      li
        a.vacancies__item(href="#" target="_blank" rel="noopener")
          span.vacancies__name Менеджер по работе с клиентами (фармацевтика)
          span.vacancies__link
            span.vacancies__link-text Посмотреть вакансию на hh
            include ../icons/icon-arrow-link
      li
        a.vacancies__item(href="#" target="_blank" rel="noopener")
          span.vacancies__name Менеджер по работе с клиентами (фармацевтика)
          span.vacancies__link
            span.vacancies__link-text Посмотреть вакансию на hh
            include ../icons/icon-arrow-link
      li
        a.vacancies__item(href="#" target="_blank" rel="noopener")
          span.vacancies__name Менеджер по работе с клиентами (фармацевтика)
          span.vacancies__link
            span.vacancies__link-text Посмотреть вакансию на hh
            include ../icons/icon-arrow-link


