.page-about {
  padding: 107px 0 0;

  @media (max-width: 1024px) {
    padding: 85px 0 0;
  }

  &__hero-content {
    position: relative;
  }

  &__hero-title {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    font-size: 0px;

    @media (max-width: 576px) {
      position: relative;
      margin-bottom: 20px;
      color: var(--color-primary-dark);
      font-size: 32px;
      letter-spacing: -0.64px;
    }
  }
}