//- Главная страница
doctype html
html(lang="ru")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    title Органика - Главная страница
    meta(name="description" content="Контактная информация складов компании Органика")
    
    //- Favicon
    link(rel="icon" type="image/png" sizes="16x16" href="favicon-16x16.png")
    link(rel="icon" type="image/png" sizes="32x32" href="favicon-32x32.png")
    link(rel="icon" type="image/png" sizes="48x48" href="favicon-48x48.png")
    link(rel="apple-touch-icon" sizes="60x60" href="apple-touch-icon-60x60.png")
    link(rel="apple-touch-icon" sizes="76x76" href="apple-touch-icon-76x76.png")
    link(rel="apple-touch-icon" sizes="120x120" href="apple-touch-icon-120x120.png")
    link(rel="apple-touch-icon" sizes="152x152" href="apple-touch-icon-152x152.png")
    link(rel="apple-touch-icon" sizes="180x180" href="apple-touch-icon.png")
    link(rel="icon" type="image/png" sizes="192x192" href="android-chrome-192x192.png")
    link(rel="icon" type="image/png" sizes="512x512" href="android-chrome-512x512.png")
    
    link(rel="stylesheet" href="css/main.css")
    link(rel="stylesheet" href="css/swiper.min.css")
  
  body.page-home
    include ../sections/header
    main.main
      include ../sections/hero
      include ../sections/numbers
      include ../sections/partners
      include ../sections/for-clients
      include ../sections/about
      include ../sections/warehouse
      include ../sections/news
      include ../sections/form
    include ../sections/footer
    include ../sections/mobile-menu-bar
    include ../components/mobile-menu
    //- Глобальные модальные окна
    include ../components/request-modal
    script(src="js/main.js" defer)