//- Главная страница
doctype html
html(lang="ru")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    title Органика - Главная страница
    meta(name="description" content="Современная верстка для Битрикс с использованием Pug и SCSS")
    link(rel="stylesheet" href="css/main.css")
    link(rel="stylesheet" href="css/swiper.min.css")
  
  body.page-home
    main.main
      include ../sections/header
      include ../sections/hero
      include ../sections/numbers
      include ../sections/partners
      include ../sections/for-clients
      include ../sections/about
      include ../sections/warehouse
      include ../sections/news
      include ../sections/form
    include ../sections/footer
    include ../sections/mobile-menu-bar
    include ../components/mobile-menu
    //- Глобальные модальные окна
    include ../components/request-modal
    script(src="js/main.js" defer)