/* Страница отдельной статьи */
.article {
  &__hero {
    position: relative;
    display: flex;
    align-items: flex-start;
    gap: 24px;
    margin-bottom: 60px;

    @media (max-width: 768px) {
      flex-direction: column-reverse;
      margin-bottom: 24px;
    }

    picture {
      border-radius: 8px;
      overflow: hidden;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }

    }
  }

  &__hero-content {
    position: absolute;
    top: 0;
    left: 0;
    gap: 20px;
    width: 100%;
    max-width: 700px;
    height: 100%;
    z-index: 1;
    padding: 60px 40px 20px;
    color: #fff;

    @media (max-width: 1024px) {
      padding: 40px;
    }

    @media (max-width: 768px) {
      position: relative;
      padding: 0;
      color: var(--color-primary-dark);
    }
  }

  &__title {
    margin-bottom: 20px;
    font-size: 46px;

    @media (max-width: 1024px) {
      font-size: 40px;
    }

    @media (max-width: 768px) {
        margin-bottom: 16px;
      color: var(--color-primary-dark);
      font-size: 32px;
      letter-spacing: -0.64px;
    }
  }

  &__date {
    display: block;
    font-family: PT Sans, sans-serif;
    font-size: 18px;

    @media (max-width: 768px) {
      font-size: 16px;
      opacity: 0.7;
    }
  }

  p {
    margin: 0 0 20px 0;
    font-family: PT Sans, sans-serif;
    font-size: 18px;
    color: var(--color-primary-dark);

    @media (max-width: 768px) {
      font-size: 16px;
    }
  }

  blockquote {
    display: flex;
    align-items: flex-start;
    gap: 20px;
    margin: 20px 0;
    padding: 40px;
    background: var(--color-primary-light-transparent);
    border-radius: 8px;

    @media (max-width: 768px) {
      gap: 16px;
      padding: 20px;
      border-radius: 20px;
    }

    div {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: 16px;
    }

   p {
      margin: 0;
        font-family: PT Sans, sans-serif;
        font-size: 18px;
        color: var(--color-primary-dark);

        @media (max-width: 768px) {
          font-size: 16px;
        }
    }

    footer {
      text-align: left;
      font-family: PT Sans, sans-serif;
      color: #64676C;
    }
  }

  ul {
    margin: 20px 0;
    padding-left: 0;
    list-style: none;

    li {
        position: relative;
        padding-left: 24px;
        margin-bottom: 16px;

        &::before {
          content: '•';
          position: absolute;
          left: 0;
          top: 0;
          color: var(--color-primary-dark);
          font-size: 20px;
          line-height: 1.7;
        }

        p {
          margin: 0;
        }
      }

  }

  ol {
    margin: 20px 0;
    counter-reset: article-list;

    li {
      position: relative;
      padding-left: 32px;
      margin-bottom: 16px;
      counter-increment: article-list;

      &::before {
        content: counter(article-list) '.';
        position: absolute;
        left: 0;
        top: 0;
        color: var(--color-primary-dark);
        font-weight: 500;
      }

      p {
        margin: 0;
      }
    }
  }

  li {
    font-family: PT Sans, sans-serif;
    font-size: 18px;
    line-height: 1.7;
    color: var(--color-primary-dark);

    @media (max-width: 768px) {
      font-size: 16px;
      line-height: 1.6;
    }
  }

  &__quote-icon {
    flex-shrink: 0;

    @media (max-width: 768px) {
      width: 26px;
    }

    svg {
      width: 100%;
      height: 100%;
    }
  }

  h2 {
    margin: 60px 0 20px 0;
    font-size: 32px;
    font-weight: 500;
    line-height: 1.3;
    color: var(--color-primary-dark);
    letter-spacing: -0.5px;

    @media (max-width: 768px) {
      margin: 48px 0 20px 0;
      font-size: 24px;
    }
  }

  picture {
    width: 100%;


    img {
      width: 100%;
      height: auto;
      border-radius: 8px;
    }
  }
}

