//- Секция преимуществ
section.advantages
  .container
      ul.advantages__list.advantages__list--suppliers
        li.advantages__item.advantages__item--title
          h2.advantages__title Почему клиенты выбирают нас?
        li.advantages__item
          p.advantages__description
            | Готовые каналы сбыта — доступ 
            | к 13000+ клиентам.
          span.advantages__number 1
        li.advantages__item
          p.advantages__description
            | Прозрачная аналитика — отчёты 
            | по продажам и остаткам.
          span.advantages__number 2
        li.advantages__item
          p.advantages__description
            | Финансовая стабильность — своевременные платежи.
          span.advantages__number 3
        li.advantages__item
          p.advantages__description
            | Собственная логистика — 120 автомобилей, доставка до 6 раз в неделю.
          span.advantages__number 4
        li.advantages__item
          p.advantages__description
            | Собственная логистика — 120 автомобилей, доставка до 6 раз в неделю.
          span.advantages__number 5