//- Секция Поставщикам — hero
section.page-suppliers
  .container
    .page-suppliers__hero-content
      h1.page-suppliers__hero-title Поставщикам
      picture.page-suppliers__hero-image
        source(media="(max-width: 576px)" srcset="images/suppliers/hero-mob.png")
        img(src="images/suppliers/hero.png" alt="Поставщикам" loading="lazy")
      h2.page-suppliers__hero-subtitle
        | «Органика» — надёжный канал сбыта для вашей продукции
      p.page-suppliers__hero-description       
        | Мы заинтересованы в долгосрочном партнёрстве с производителями 
        | и дистрибьюторами фармацевтики, медтехники и товаров для детства
        | и материнства. С 2000 года развиваем дистрибуцию на Юге 
        | и Центральной России обеспечивая стабильный сбыт через 13 000+ 
        | аптек, мед.учреждений и магазинов. Предлагаем широкий перечень 
        | услуг: от логистики до маркетинговой поддержки.

