/* Главный файл стилей */

// Все @use правила должны быть в начале
@use 'utils/variables' as *;
@use 'utils/mixins' as *;
@use 'utils/css-order' as *;
@use 'base/fonts' as *;
@use 'base/reset' as *;
@use 'components/container' as *;
@use 'components/shapes' as *;
@use 'components/decorations' as *;
@use 'components/buttons' as *;
@use 'components/tabs' as *;
@use 'components/slider-controls' as *;
@use 'components/modal' as *;
@use 'sections/header' as *;
@use 'sections/hero' as *;
@use 'components/form' as *;
@use 'sections/numbers' as *;
@use 'sections/partners' as *;
@use 'sections/warehouse' as *;
@use 'sections/about' as *;
@use 'sections/about/hero' as *;
@use 'sections/about/numbers' as *;
@use 'sections/for-clients' as *;
@use 'sections/form' as *;
@use 'sections/footer' as *;
@use 'sections/news' as *;
@use 'sections/error-404' as *;
@use 'sections/contacts' as *;
@use 'sections/team' as *;
@use 'sections/history' as *;
@use 'sections/mobile-menu-bar' as *;
@use 'components/mobile-menu' as *;

// Библиотеки будут подключены в HTML

// Основные стили для фиксированного header
body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  padding-top: 80px; // Высота header + отступ
  max-width: 100vw;
  overflow-x: hidden;

  > main {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow: hidden;
  }
  
  @media (max-width: 767px) {
    padding-top: 0; // На мобилке header не fixed, отступ не нужен
  }
}

.container {
  width: 100%;
  max-width: 1232px;
  margin: 0 auto;
  padding: 0 16px;

  @media (max-width: 768px) {
    padding: 0 10px;
  }
}

.desktop-only {
  display: block;
}

.mobile-only {
  display: none;
}

@media (max-width: 768px) {
  .desktop-only {
    display: none;
  }
  .mobile-only {
    display: block;
  }
}

h1 {
  font-size: 72px;
  font-weight: 500;
  line-height: 1.1;
  color: var(--color-text-secondary);
  margin-bottom: 24px;
  letter-spacing: -0.02em;

  @media (max-width: 1024px) {
    font-size: 56px;
  }

  @media (max-width: 768px) {
    font-size: 48px;
  }

  @media (max-width: 576px) {
    // font-size: 24px;
  }
}

h2 {
  color: var(--color-primary-dark);
  font-size: 40px;
  font-weight: 500;
  letter-spacing: -1.6px;

  @media (max-width: 768px) {
    font-size: 32px;
    letter-spacing: -2px;
  }

  @media (max-width: 576px) {
    font-size: 24px;
  }
}

h3 {
  color: var(--color-primary-dark);
  font-size: 32px;
  font-weight: 500;
  letter-spacing: -0.64px;

  @media (max-width: 1024px) {
    font-size: 24px;
    letter-spacing: -2px;
  }
}

h4 {
  color: var(--color-primary-dark);
  font-size: 24px;
  font-weight: 500;
  letter-spacing: -2px;

  @media (max-width: 1024px) {
    font-size: 20px;
  }
}