//- Секция "О нас"
section.page-about
  .container
    .page-about__hero-content
      h1.page-about__hero-title О компании
      picture.page-about__hero-image
        source(media="(max-width: 576px)" srcset="images/about/hero-mob.png")
        img(src="images/about/hero2.png" alt="О компании" loading="lazy")