//- Секция "Цифры компании"
section.page-numbers
  .container
    h2.page-numbers__title Цифры компании
    .page-numbers__grid
      .page-numbers__card
        .page-numbers__number 13 000
        .page-numbers__label Клиентов
      
      .page-numbers__card
        .page-numbers__number 12 000+
        .page-numbers__label Позиций товара в наличии
      
      .page-numbers__card
        .page-numbers__number 15 000 м²
        .page-numbers__label Площадь складов
      
      .page-numbers__card
        .page-numbers__number 120
        .page-numbers__label Собственных машин
